
@using SistemaPaciente.Core.Application.ViewModels.UserViewModels;


@model ChangePasswordViewModel



<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class=" card">
                <div class="card-header bg-primary text-light text-center">
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false,"",new{@class = "text-danger"})
                    <form method="post" asp-controller="User" asp-action="ChangePassword">


                        <div class="mb-3">
                            <label asp-for="OldPassword" class="form-label">CONTRASEÑA ANTIGUA: </label>
                            <input type="text" asp-for="OldPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label">NUEVA CONTRASEÑA: </label>
                            <input type="text" asp-for="NewPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div> 
                        
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">CONFIRMAR CONTRASEÑA: </label>
                            <input type="text" asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary float-end ms-2">Cambiar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning float-end ">Volver atras</a>

                    </form>
                </div>



            </div>

        </div>

    </div>

</div>