<div class="card-group">
    <div class="card mx-2">
        <img src="https://th.bing.com/th/id/OIP.fwph_78DGRxbr_rOxZcXOAHaE7?pid=ImgDet&rs=1" class="card-img-top img-fluid">
        <div class="card-body">
            <h5 class="card-title">QUIENES SOMOS ?</h5>
            <p class="card-text">
                El Hospital La Altagracia es una institución de atención médica dedicada a brindar servicios integrales de salud a la comunidad que servimos.
                Fundado en 1990, nos hemos convertido en un pilar fundamental de la atención médica en nuestra región.
            </p>
        </div>
    </div>
    <div class="card mx-2">
        <img src="https://media.istockphoto.com/photos/doctors-surgeons-and-health-care-workers-smiling-picture-id471920875?k=6&m=471920875&s=170667a&w=0&h=RGHD0TuKPSBm2Yu9SBON7AP7uTBCrhoMqqk2Bxz1c5s=" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">VISION</h5>
            <p class="card-text">Nuestra visión es convertirnos en el hospital líder en el cuidado de la salud en nuestra región, conocido por nuestra excelencia en el tratamiento médico, la investigación de vanguardia y la participación activa en la comunidad.</p>
        </div>
    </div>
    <div class="card mx-2">
        <img src="https://thumbs.dreamstime.com/b/medico-della-giovane-donna-con-la-compressa-che-funziona-all-ospedale-58463893.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">MISION</h5>
            <p class="card-text">
                Nuestra misión en el Hospital La Altagracia es proporcionar atención médica de calidad y
                compasiva a toda nuestra comunidad.
            </p>
        </div>
    </div>
</div>
